services:
  - type: web
    name: game-player-nick-finder
    env: python
    plan: free
    buildCommand: bash scripts/build.sh
    startCommand: gunicorn game_player_nick_finder.wsgi:application
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: game_player_nick_finder.settings.production
      - key: DJANGO_SECRET_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: game_player_nick_finder_db
          property: connectionString
      - key: ALLOWED_HOSTS
        value: .onrender.com
      - key: EMAIL_HOST
        sync: false
      - key: EMAIL_PORT
        sync: false
      - key: EMAIL_USE_TLS
        sync: false
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: DEFAULT_FROM_EMAIL
        sync: false

databases:
  - name: game_player_nick_finder_db
    plan: free
    databaseName: game_player_nick_finder
    user: game_player_nick_finder
