{% load i18n %}

<div class="character-details">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    {% if character.description %}
                    <tr>
                        <th class="w-25">{% trans "Description" %}</th>
                        <td>{{ character.description }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <th>{% trans "Game" %}</th>
                        <td>
                            <a href="{% url 'game_players' slug=character.game.slug %}" class="text-decoration-none">
                                {{ character.game.name }}
                            </a>

                            {% if character.year_started or character.year_ended %}
                                <span class="text-muted ms-2">
                                    {% if character.year_started and character.year_ended %}
                                        ({% trans "Played from" %} {{ character.year_started }} {% trans "to" %} {{ character.year_ended }})
                                    {% elif character.year_started %}
                                        ({% trans "Playing since" %} {{ character.year_started }})
                                    {% elif character.year_ended %}
                                        ({% trans "Played until" %} {{ character.year_ended }})
                                    {% endif %}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
