{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-4">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg mb-2">

        <div class="col-xl-6 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">{% trans "User Profile" %}</h1>

          <p>Username: {{ user.username }}</p>
          <!-- <p>First Name: {{ user.first_name }}</p>
          <p>Last Name: {{ user.last_name }}</p> -->
          <p>Email: {{ user.email }}</p>

          <form method="post">
            {% csrf_token %}
            <!-- <p>
              <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name:</label>
              {{ form.first_name }}
            </p>
            <p>
              <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
              {{ form.last_name }}
            </p> -->
            {{ form | crispy }}

            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>

        <div class="col-xl-6 p-3 p-lg-5 pt-lg-3">
          <h3>Characters</h3>
          {% if characters %}
            <ul>
              {% for character in characters %}
                <li>
                  <a href="{% url 'character_detail' user=character.user.username nickname=character.nickname %}">
                    {{ character.nickname }} ({{ character.game.name }})
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No characters found.</p>
          {% endif %}
          <a href="{% url 'add_character' %}" class="btn btn-primary">Add Game and Character</a>
        </div>

    </div>
  </div>
</div>
{% endblock %}
