{% load i18n %}
<!DOCTYPE html>
<html lang="en">

{% include 'base_head.html' %}

<body>


  <div id="header">
    {% block header %}
      {% include 'base_navbar.html' %}
    {% endblock %}
  </div>

  <div class="container">
    {% block body %}
      {% if messages %}
      <div>
        <strong>{% trans "Messages:" %}</strong>
        <ul>
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
  </div>

  {% block footer %}
    {% include 'base_footer.html' %}
  {% endblock %}

  {% include 'base_scripts.html' %}

</body>

</html>
