{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container my-4">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg mb-2" style="background: #fff;">
    <div class="col-xl-6 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Reconnect with Old Gaming Buddies!</h1>
      <p class="lead">Are you missing those unforgettable gaming sessions with your old buddies? Look no further! Our platform is here to help you revive the good old days by reuniting you with your gaming companions. Whether you used to conquer virtual realms together or embark on epic adventures, we bring back the camaraderie and thrill of gaming.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="{% url 'django_registration_register' %}" role="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">{% trans "Join now!" %}</a>
        <a href="{% url 'character_list' %}" role="button" class="btn btn-outline-secondary btn-lg px-4">{% trans "Explore" %}</a>
      </div>
    </div>
    <div class="col-xl-6 p-0 overflow-hidden">
        <img class="rounded-lg-3" src="https://static.zentala.io/gpnf/home.png" alt="" width="700">
    </div>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="p-4 pb-0 pt-lg-5 align-items-center rounded-3 border shadow p-3 p-lg-5 pt-lg-3" style="background: #fff;">
      <h2 class="display-6 fw-bold lh-1">Time machine</h1>
      <p>Step into the extraordinary world of nostalgia as you reunite with your gaming companions. Embrace your unique synergy and continue the journey of shared excitement and triumphs! </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="p-4 pb-0 pt-lg-5 align-items-center rounded-3 border shadow p-3 p-lg-5 pt-lg-3" style="background: #fff;">
      <h2 class="display-6 fw-bold lh-1">Friendship</h1>
      <p>Rediscover the essence of friendship as you reconnect with old gaming buddies. Forge new alliances and reignite the spirit of camaraderie. Our platform unites players from all corners of the gaming world.</p>
    </div>
  </div>
</div>

 <div class="p-3 p-lg-5 align-items-center rounded-3 mt-5 mb-3 text-center"><!-- border-bottom -->
  <img class="" src="static/images/friends.png" alt="" width="900" />
  <h1 class="display-4 mt-4 mb-4 fw-bold">Find Your Long-Lost Gaming Friends</h1>
  <div class="col-lg-10 mx-auto">
    <p class="lead mb-4">Rekindle the gaming magic as you search for your long-lost gaming companions. Our platform is a time machine that takes you back to those cherished moments when you conquered virtual realms and embarked on epic adventures together. Join now and rediscover the joy of gaming camaraderie!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 mt-3">
      <a href="{% url 'character_list' %}" role="button" class="btn btn-outline-secondary btn-lg px-4">Search Now!</a>
      <a href="{% url 'django_registration_register' %}" role="button" class="btn btn-primary btn-lg px-4 me-sm-3">Join the Adventure!</a>
    </div>
  </div>
  <!-- <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="static/images/together.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div> -->
  </div>
</div>

<!--
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Jumbotron with icon</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Call to action
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Secondary link
      </button>
    </div>
  </div>
</div>

<main class="container py-4">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      </div>
    </div>
  </div>
</main>

<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Full-width jumbotron</h1>
      <p class="col-lg-8 mx-auto lead">
        This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
      </p>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Centered hero</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
    </div>
  </div>
</div>
-->
{% endblock %}
