{% extends "base.html" %}

{% load i18n %}

{% block content %}

  {# Layout Switcher (visible based on show_layout_switcher context variable) #}
  {% if show_layout_switcher %}
    {% include "homepage/layout_switcher.html" %}
  {% endif %}
  
  {# Render selected layout #}
  {% if layout == 'v0' %}
    {% include "homepage/layout_v0.html" %}
  {% elif layout == 'v1' %}
    {% include "homepage/layout_v1.html" %}
  {% elif layout == 'v2' %}
    {% include "homepage/layout_v2.html" %}
  {% elif layout == 'v3' %}
    {% include "homepage/layout_v3.html" %}
  {% else %}
    {# Fallback to v0 if layout is invalid #}
    {% include "homepage/layout_v0.html" %}
  {% endif %}
{% endblock %}
