{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Treść strony logowania -->
<div class="login-container">
    <form method="post">
        {% csrf_token %}
        <!-- Pola formularza logowania -->
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .login-container {
        /* Twój CSS dla kontenera logowania */
    }

    .gravatar {
        background-color: #ccc; /* Szare tło */
        border-radius: 50%; /* Zaokrąglone rogi */
        display: inline-block;
        width: 40px;
        height: 40px;
        object-fit: cover; /* Dopasowanie obrazka */
        position: relative;
    }

    .gravatar::before {
        content: "\f007"; /* Ikona użytkownika */
        font-family: "Bootstrap Icons"; /* Upewnij się, że Bootstrap Icons jest załadowany */
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
</style>
{% endblock %}
